  <form class="form-space" fxLayout="column" #registerForm="ngForm" >
    <mat-form-field fxFlex>
      <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="user.email" required #email="ngModel">
      <mat-error *ngIf="email.touched && email.invalid">
          A valid email is required.
      </mat-error>
    </mat-form-field>
       <!--This area deal with password -->
    <div class="password" fxFlex fxLayout="column">
      <mat-form-field fxFlex>
        <input matInput 
        [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password"
        [(ngModel)]="user.password" #password="ngModel" required  minlength="6" maxlength="8" >
        <button fxFlex flxAlign="center" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
    </div>
    
    <button fxFlex flxAlign="center" mat-raised-button [disabled]="!registerForm.valid" [fxHide]="fbUser" (click)="loginUser()" [attr.aria-label]="'Registrar'">
      <mat-icon></mat-icon> Login
    </button>
    <button fxFlex flxAlign="center" mat-raised-button [fxHide]="fbUser" (click)="recuperarSenha()" [attr.aria-label]="'Recuperar Senha'">
      <mat-icon>lock</mat-icon> Recuperar Senha
    </button>
       <button fxFlex flxAlign="center" [disabled]="!fbUser" mat-raised-button (click)="logOut()" [attr.aria-label]="'Sair'">
      <mat-icon></mat-icon> Sair
    </button>
  </form>