input {
  opacity: 0;
}

label {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 1rem;
  height: auto;
}
label:hover{
  background-color: #2D5BA3;
  color: white;
}

label:active {
  background-color: #0D3F8F;
  color: white;
}